@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h2>Bem-vindo ao Stock .NET!</h2>
            <p>Gerencie seus produtos e mantenha o controle do estoque de maneira eficiente.</p>
        </div>
   </div>
</div>